<a href="https://colab.research.google.com/github/zellning/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_5%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오픈소스 기반 데이터 분석 5강 - 데이터 저장
chapter3 파일 올리고 실습.

## 5-1 CSV 형식 저장

In [50]:
import pandas as pd

data = {
    'student_id': [101, 102, 103, 104, 105],
    'database_score': [85, 76, 92, 63, 88],
    'cloudcomputing_score': [78, 82, 95, 70, 84],
    'python_score': [92, 78, 85, 75, 91],
    'watch_rate': [0.95, 0.87, 0.99, 0.80, 0.93]
}
## DataFrame 생성
df = pd.DataFrame(data)

## CSV 형식 저장
df.to_csv('student_analysis.csv', encoding = 'utf-8', index = False)

## 5-2 JSON 형식 저장

In [49]:
### 라이브러리 임포트
import json
import pandas as pd

data = {
    "이름": "홍길동",
    "나이": 25,
    "거주지": "서울",
    "관심사": ["프로그래밍", "데이터 분석", "여행"]
}

## json.dump를 이용한 저장
with open('output.json', mode = 'w', encoding = 'utf-8') as f:
    json.dump(data, f, indent=4, ensure_ascii = False) #indent : 띄어쓰기 몇칸?

## DataFrame을 이용한 저장
#df = pd.DataFrame(data) #관심사가 각 1개씩 나눠져서 나옴
df = pd.DataFrame([data]) #관심사3개가 하나로 묶여서 나옴
#df.to_json('output_df.json', orient='records', indent=4, force_ascii=False)
df.to_json('output_df.json', orient='columns', indent=4, force_ascii=False) #force_ascii=False 꼭 설정해놔야 한글 안깨짐

## 5-3 Pandas Dataframe 데이터 추출

In [46]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터학", "경영학", "농학", "교육학", "영어영문학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}
df = pd.DataFrame(data)

## DataFrame 인덱스 출력
print(df.index)

## DataFrame 컬럼 출력
print(df.columns)

## DataFrame 행 출력
print(df.values.tolist()) #phython의 list형태
print(df.values) #numpy형태

## DataFrame 값 출력
print(df.values.flatten()) #flatten() : 구조를 뭉개뜨리고 그냥 쭉 일렬로 나열시킬 떄 사용하는 메서드

RangeIndex(start=0, stop=5, step=1)
Index(['이름', '학년', '학점', '학과', '동아리'], dtype='object')
[['김철수', 1, 4.2, '컴퓨터학', '프로그래밍'], ['이영희', 2, 3.8, '경영학', '독서토론'], ['박민수', 3, 4.5, '농학', '로봇공학'], ['최지훈', 4, 3.9, '교육학', '봉사활동'], ['정소희', 2, 3.5, '영어영문학', '음악감상']]
[['김철수' 1 4.2 '컴퓨터학' '프로그래밍']
 ['이영희' 2 3.8 '경영학' '독서토론']
 ['박민수' 3 4.5 '농학' '로봇공학']
 ['최지훈' 4 3.9 '교육학' '봉사활동']
 ['정소희' 2 3.5 '영어영문학' '음악감상']]
['김철수' 1 4.2 '컴퓨터학' '프로그래밍' '이영희' 2 3.8 '경영학' '독서토론' '박민수' 3 4.5 '농학'
 '로봇공학' '최지훈' 4 3.9 '교육학' '봉사활동' '정소희' 2 3.5 '영어영문학' '음악감상']

    이름  학년   학점     학과    동아리
0  김철수   1  4.2   컴퓨터학  프로그래밍
1  이영희   2  3.8    경영학   독서토론
2  박민수   3  4.5     농학   로봇공학
3  최지훈   4  3.9    교육학   봉사활동
4  정소희   2  3.5  영어영문학   음악감상

## 5-4 DataFrame 생성 방법

In [24]:
import pandas as pd
import json

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## 딕셔너리, csv, json으로 부터 DataFrame 생성
df1 = pd.DataFrame.from_dict(data)
df2 = pd.read_csv('students.csv')
df3 = pd.read_json('students.json')

## 세가지 방법 결과 비교
print(df1.shape) #표의 행과 열이 몇개씩 있는지?
print(df2.shape)
print(df3.shape)

(5, 5)
(5, 5)
(5, 5)

## 5-5 DataFrame 저장 방법

In [26]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## Dataframe 생성
df = pd.DataFrame(data)

## CSV, JSON 형식으로 저장
df.to_csv('students_scores.csv')
df.to_json('students_scores.json')

## HTML 형식으로 저장
html_table = df.to_html()
with open('students_scores.html', 'w') as f:
    f.write(html_table)

## 5-6 실습 시나리오(공공데이터 사이트 이슈문제로 서울시 공공데이터 사이트걸로 작업해서 수업과 내용다름)

## 데이터 수집

In [39]:
import requests

url = "http://openapi.seoul.go.kr:8088/(api_key번호쓰기)/json/energyUseDataSummaryInfo/1/100/"
api_key = 'api_key번호쓰기'

params = {
    'KEY': api_key,
    'TYPE': 'json',
    'SERVICE': 'energyUseDataSummaryInfo',
    'START_INDEX': '1',
    'END_INDEX': '100',
    'YEAR' : '2025'
}

## 데이터 수집
response = requests.get(url, params=params)

## 호출 성공/실패 출력
print(response.json())

{'energyUseDataSummaryInfo': {'list_total_count': 1241, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}, 'row': [{'YEAR': '2025', 'MON': '06', 'MM_TYPE': '개인', 'CNT': '1269454', 'EUS': '278745288', 'EUS1': '275851011', 'EUS2': '273151435', 'ECO2_1': '4244065', 'ECO2_2': '2076623.656', 'GUS': '13084768', 'GUS1': '11889039', 'GUS2': '12094650', 'GCO2_1': '1091102', 'GCO2_2': '2182204', 'WUS': '14927683.6', 'WUS1': '15166284.8', 'WUS2': '15371662.2', 'WCO2_1': '-341289.9', 'WCO2_2': '-611822.446', 'HUS': '379182.22', 'HUS1': '368839.049', 'HUS2': '389847.167', 'HCO2_1': '-160.888', 'HCO2_2': '-22448.67848156', 'REG_DATE': '2025-09-01 04:02:15.0'}, {'YEAR': '2025', 'MON': '06', 'MM_TYPE': '학교', 'CNT': '6745', 'EUS': '117808793', 'EUS1': '114793127', 'EUS2': '114623246', 'ECO2_1': '3100606.5', 'ECO2_2': '3096973.668', 'GUS': '2093441', 'GUS1': '2046804', 'GUS2': '2061648', 'GCO2_1': '39207', 'GCO2_2': '78414', 'WUS': '1824338.2', 'WUS1': '1914804.2', 'WUS2': '1956560.2', 'WCO2_1': '-111344', 'WCO2_2': '-333633.134', 'HUS': '8.03', 'HUS1': '8.03', 'HUS2': '8.03', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-09-01 04:02:15.0'}, {'YEAR': '2025', 'MON': '06', 'MM_TYPE': '공동주택관리소', 'CNT': '3729', 'EUS': '498863841', 'EUS1': '496003195', 'EUS2': '488758810', 'ECO2_1': '6482838.5', 'ECO2_2': '6482838.5', 'GUS': '2853437', 'GUS1': '2552964', 'GUS2': '2586972', 'GCO2_1': '283460.5', 'GCO2_2': '566921', 'WUS': '20407812.7', 'WUS1': '20616193.4', 'WUS2': '20794568.4', 'WCO2_1': '-297568.2', 'WCO2_2': '-892704.6', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-09-01 04:02:15.0'}, {'YEAR': '2025', 'MON': '06', 'MM_TYPE': '종교단체', 'CNT': '849', 'EUS': '6205342', 'EUS1': '6171454', 'EUS2': '6094109', 'ECO2_1': '72560.5', 'ECO2_2': '72560.5', 'GUS': '139336', 'GUS1': '152116', 'GUS2': '141705', 'GCO2_1': '-7575', 'GCO2_2': '-15150', 'WUS': '52228', 'WUS1': '51779', 'WUS2': '49094', 'WCO2_1': '1791.5', 'WCO2_2': '5374.5', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-09-01 04:02:15.0'}, {'YEAR': '2025', 'MON': '06', 'MM_TYPE': '소상공인', 'CNT': '53274', 'EUS': '96254029', 'EUS1': '98122772', 'EUS2': '98464917', 'ECO2_1': '-2039815.5', 'ECO2_2': '-2043866.22', 'GUS': '1638563', 'GUS1': '1647690', 'GUS2': '1687480', 'GCO2_1': '-27668', 'GCO2_2': '-55336', 'WUS': '1526737.8', 'WUS1': '1541313.8', 'WUS2': '1576869.2', 'WCO2_1': '-32353.7', 'WCO2_2': '-97437.288', 'HUS': '2', 'HUS1': '2', 'HUS2': '2', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-09-01 04:02:15.0'}, {'YEAR': '2025', 'MON': '06', 'MM_TYPE': '기업', 'CNT': '19503', 'EUS': '631237607', 'EUS1': '640855479', 'EUS2': '644378910', 'ECO2_1': '-11379587.5', 'ECO2_2': '-11379587.5', 'GUS': '23213929', 'GUS1': '19747106', 'GUS2': '18226209', 'GCO2_1': '4228682', 'GCO2_2': '8457364', 'WUS': '4526388.6', 'WUS1': '4647195.2', 'WUS2': '4706367.8', 'WCO2_1': '-150392.9', 'WCO2_2': '-451178.7', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-09-01 04:02:15.0'}, {'YEAR': '2025', 'MON': '06', 'MM_TYPE': '공공기관', 'CNT': '2453', 'EUS': '144076282', 'EUS1': '145305812', 'EUS2': '145642575', 'ECO2_1': '-1397911.5', 'ECO2_2': '-1397911.5', 'GUS': '2208801', 'GUS1': '2015057', 'GUS2': '2335892', 'GCO2_1': '33315', 'GCO2_2': '66630', 'WUS': '966210.2', 'WUS1': '923619.4', 'WUS2': '909851', 'WCO2_1': '49475', 'WCO2_2': '148425', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-09-01 04:02:15.0'}, {'YEAR': '2025', 'MON': '05', 'MM_TYPE': '학교', 'CNT': '6743', 'EUS': '99662057', 'EUS1': '96463639', 'EUS2': '98471343', 'ECO2_1': '2194566', 'ECO2_2': '2189835.888', 'GUS': '2040258', 'GUS1': '1833144', 'GUS2': '1993346', 'GCO2_1': '127242.5', 'GCO2_2': '254485', 'WUS': '1845458.8', 'WUS1': '1848137.6', 'WUS2': '1892982.2', 'WCO2_1': '-25101.1', 'WCO2_2': '-75839.568', 'HUS': '823.916', 'HUS1': '656.124', 'HUS2': '817.924', 'HCO2_1': '86.892', 'HCO2_2': '-55.860284', 'REG_DATE': '2025-08-01 04:02:19.0'}, {'YEAR': '2025', 'MON': '05', 'MM_TYPE': '기업', 'CNT': '19485', 'EUS': '559470958', 'EUS1': '574702204', 'EUS2': '583911251', 'ECO2_1': '-19835769.5', 'ECO2_2': '-19835769.5', 'GUS': '27783360', 'GUS1': '22131931', 'GUS2': '23721899', 'GCO2_1': '4857387', 'GCO2_2': '9714774', 'WUS': '4222583.6', 'WUS1': '4268030.5', 'WUS2': '4115368.4', 'WCO2_1': '30884.15', 'WCO2_2': '92652.45', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-08-01 04:02:19.0'}, {'YEAR': '2025', 'MON': '05', 'MM_TYPE': '소상공인', 'CNT': '53202', 'EUS': '80966250', 'EUS1': '83446742', 'EUS2': '83449791', 'ECO2_1': '-2482016.5', 'ECO2_2': '-2481682.708', 'GUS': '1774611', 'GUS1': '1749311', 'GUS2': '1800796', 'GCO2_1': '1085.5', 'GCO2_2': '2171', 'WUS': '1354417.6', 'WUS1': '1377376.4', 'WUS2': '1365071.4', 'WCO2_1': '-16806.3', 'WCO2_2': '-50604.326', 'HUS': '129', 'HUS1': '52', 'HUS2': '56', 'HCO2_1': '75', 'HCO2_2': '73.684628', 'REG_DATE': '2025-08-01 04:02:19.0'}, {'YEAR': '2025', 'MON': '05', 'MM_TYPE': '공공기관', 'CNT': '2457', 'EUS': '129049524', 'EUS1': '129604914', 'EUS2': '132054744', 'ECO2_1': '-1780305', 'ECO2_2': '-1780305', 'GUS': '2256305', 'GUS1': '2121232', 'GUS2': '2243182', 'GCO2_1': '74105', 'GCO2_2': '148210', 'WUS': '1174410', 'WUS1': '1131957', 'WUS2': '1125997.2', 'WCO2_1': '45432.9', 'WCO2_2': '136298.7', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-08-01 04:02:19.0'}, {'YEAR': '2025', 'MON': '05', 'MM_TYPE': '종교단체', 'CNT': '846', 'EUS': '5267681', 'EUS1': '5186496', 'EUS2': '5297933', 'ECO2_1': '25466.5', 'ECO2_2': '25466.5', 'GUS': '191799', 'GUS1': '151059', 'GUS2': '157765', 'GCO2_1': '37347.5', 'GCO2_2': '74695', 'WUS': '40484', 'WUS1': '40625', 'WUS2': '41241', 'WCO2_1': '-449', 'WCO2_2': '-1347', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-08-01 04:02:19.0'}, {'YEAR': '2025', 'MON': '05', 'MM_TYPE': '개인', 'CNT': '1267045', 'EUS': '252933188', 'EUS1': '250346438', 'EUS2': '254684361', 'ECO2_1': '417788.5', 'ECO2_2': '104182.42', 'GUS': '22647443', 'GUS1': '18259779', 'GUS2': '21021908', 'GCO2_1': '2998836', 'GCO2_2': '5997672', 'WUS': '14091291', 'WUS1': '14394553.8', 'WUS2': '14505197.9', 'WCO2_1': '-358584.85', 'WCO2_2': '-559918.094', 'HUS': '1347912.069', 'HUS1': '9627300.618', 'HUS2': '4726840.242', 'HCO2_1': '-5829158.361', 'HCO2_2': '-23663090.49314236', 'REG_DATE': '2025-08-01 04:02:19.0'}, {'YEAR': '2025', 'MON': '05', 'MM_TYPE': '공동주택관리소', 'CNT': '3723', 'EUS': '457327735', 'EUS1': '452736578', 'EUS2': '458511731', 'ECO2_1': '1703580.5', 'ECO2_2': '1703580.5', 'GUS': '4543940', 'GUS1': '3494762', 'GUS2': '4100399', 'GCO2_1': '746373', 'GCO2_2': '1492746', 'WUS': '20124507.3', 'WUS1': '20309330', 'WUS2': '19973416.6', 'WCO2_1': '-16866', 'WCO2_2': '-50598', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-08-01 04:02:19.0'}, {'YEAR': '2025', 'MON': '04', 'MM_TYPE': '개인', 'CNT': '1266364', 'EUS': '263191871', 'EUS1': '262174429', 'EUS2': '261156939', 'ECO2_1': '1526187', 'ECO2_2': '913174.68', 'GUS': '36754800', 'GUS1': '35798858', 'GUS2': '31843888', 'GCO2_1': '2943478.5', 'GCO2_2': '5886957', 'WUS': '14184236.9', 'WUS1': '14560388.3', 'WUS2': '14466544.3', 'WCO2_1': '-329229.4', 'WCO2_2': '-547534.9', 'HUS': '5120775.254', 'HUS1': '3380314.055', 'HUS2': '4345219.205', 'HCO2_1': '1258008.624', 'HCO2_2': '1707494.004361976', 'REG_DATE': '2025-07-01 04:02:02.0'}, {'YEAR': '2025', 'MON': '04', 'MM_TYPE': '학교', 'CNT': '6745', 'EUS': '121622537', 'EUS1': '115732819', 'EUS2': '108862511', 'ECO2_1': '9324872', 'ECO2_2': '9318343.616', 'GUS': '3410915', 'GUS1': '3429448', 'GUS2': '3058383', 'GCO2_1': '168476', 'GCO2_2': '336952', 'WUS': '1530676.4', 'WUS1': '1593076.8', 'WUS2': '1564036', 'WCO2_1': '-47880', 'WCO2_2': '-144552.456', 'HUS': '4295.074', 'HUS1': '2880.076', 'HUS2': '4291.235', 'HCO2_1': '709.4185', 'HCO2_2': '1134.35233', 'REG_DATE': '2025-07-01 04:02:02.0'}, {'YEAR': '2025', 'MON': '04', 'MM_TYPE': '종교단체', 'CNT': '845', 'EUS': '6235347', 'EUS1': '6024555', 'EUS2': '5665799', 'ECO2_1': '390170', 'ECO2_2': '390170', 'GUS': '323698', 'GUS1': '325759', 'GUS2': '282493', 'GCO2_1': '19598.5', 'GCO2_2': '39197', 'WUS': '44448', 'WUS1': '44113', 'WUS2': '43364', 'WCO2_1': '709.5', 'WCO2_2': '2128.5', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-07-01 04:02:02.0'}, {'YEAR': '2025', 'MON': '04', 'MM_TYPE': '소상공인', 'CNT': '53137', 'EUS': '85657629', 'EUS1': '85776755', 'EUS2': '84047964', 'ECO2_1': '745269.5', 'ECO2_2': '744587.804', 'GUS': '2225340', 'GUS1': '2284030', 'GUS2': '2152904', 'GCO2_1': '7845', 'GCO2_2': '15690', 'WUS': '1428590.2', 'WUS1': '1445559.9', 'WUS2': '1443190.4', 'WCO2_1': '-15784.95', 'WCO2_2': '-47585.632', 'HUS': '375.03', 'HUS1': '259.03', 'HUS2': '253.03', 'HCO2_1': '119', 'HCO2_2': '43.835696', 'REG_DATE': '2025-07-01 04:02:02.0'}, {'YEAR': '2025', 'MON': '04', 'MM_TYPE': '공공기관', 'CNT': '2457', 'EUS': '131525815', 'EUS1': '131284216', 'EUS2': '128451550', 'ECO2_1': '1657932', 'ECO2_2': '1657932', 'GUS': '3142610', 'GUS1': '3020637', 'GUS2': '2916336', 'GCO2_1': '174370', 'GCO2_2': '348740', 'WUS': '881591.4', 'WUS1': '827438.5', 'WUS2': '816277', 'WCO2_1': '59733.65', 'WCO2_2': '179200.95', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-07-01 04:02:02.0'}, {'YEAR': '2025', 'MON': '04', 'MM_TYPE': '기업', 'CNT': '19484', 'EUS': '536624626', 'EUS1': '544296390', 'EUS2': '534328953', 'ECO2_1': '-2688045.5', 'ECO2_2': '-2688045.5', 'GUS': '35490004', 'GUS1': '35891136', 'GUS2': '30822875', 'GCO2_1': '2133348.5', 'GCO2_2': '4266697', 'WUS': '4130400.4', 'WUS1': '4117042', 'WUS2': '4136253.6', 'WCO2_1': '3752.6', 'WCO2_2': '11257.8', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-07-01 04:02:02.0'}, {'YEAR': '2025', 'MON': '04', 'MM_TYPE': '공동주택관리소', 'CNT': '3727', 'EUS': '481039636', 'EUS1': '477622414', 'EUS2': '474616307', 'ECO2_1': '4920275.5', 'ECO2_2': '4920275.5', 'GUS': '8077071', 'GUS1': '7989312', 'GUS2': '6742533', 'GCO2_1': '711243.5', 'GCO2_2': '1422487', 'WUS': '19600709', 'WUS1': '20027589.9', 'WUS2': '19730796.4', 'WCO2_1': '-278484.15', 'WCO2_2': '-835452.45', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-07-01 04:02:02.0'}, {'YEAR': '2025', 'MON': '03', 'MM_TYPE': '공동주택관리소', 'CNT': '3718', 'EUS': '480451586', 'EUS1': '486422421', 'EUS2': '467374564', 'ECO2_1': '3553093.5', 'ECO2_2': '3553093.5', 'GUS': '11779998', 'GUS1': '10809400', 'GUS2': '10219623', 'GCO2_1': '1265565.5', 'GCO2_2': '2531131', 'WUS': '19033532.3', 'WUS1': '19512076.9', 'WUS2': '19036420.2', 'WCO2_1': '-240716.25', 'WCO2_2': '-722148.75', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-06-01 04:02:06.0'}, {'YEAR': '2025', 'MON': '03', 'MM_TYPE': '소상공인', 'CNT': '53107', 'EUS': '93533471', 'EUS1': '91888483', 'EUS2': '88814109', 'ECO2_1': '3182175', 'ECO2_2': '3181590.36', 'GUS': '2813296', 'GUS1': '2718163', 'GUS2': '2711789', 'GCO2_1': '99342', 'GCO2_2': '198684', 'WUS': '1346659', 'WUS1': '1362708.4', 'WUS2': '1353940.6', 'WCO2_1': '-11665.5', 'WCO2_2': '-35059.198', 'HUS': '1387.22', 'HUS1': '1518.36', 'HUS2': '1084.13', 'HCO2_1': '85.975', 'HCO2_2': '97.570388', 'REG_DATE': '2025-06-01 04:02:06.0'}, {'YEAR': '2025', 'MON': '03', 'MM_TYPE': '공공기관', 'CNT': '2458', 'EUS': '137616694', 'EUS1': '138060377', 'EUS2': '134016209', 'ECO2_1': '1578401', 'ECO2_2': '1578401', 'GUS': '4871302', 'GUS1': '4058997', 'GUS2': '4141133', 'GCO2_1': '771380', 'GCO2_2': '1542760', 'WUS': '1198151.6', 'WUS1': '1128659.2', 'WUS2': '1200280.6', 'WCO2_1': '33681.7', 'WCO2_2': '101045.1', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-06-01 04:02:06.0'}, {'YEAR': '2025', 'MON': '03', 'MM_TYPE': '기업', 'CNT': '19469', 'EUS': '561738627', 'EUS1': '563200614', 'EUS2': '558083079', 'ECO2_1': '1096780.5', 'ECO2_2': '1096780.5', 'GUS': '59642824', 'GUS1': '44227664', 'GUS2': '39719613', 'GCO2_1': '17675303.5', 'GCO2_2': '35350607', 'WUS': '3960388.8', 'WUS1': '4004600.6', 'WUS2': '3931034.6', 'WCO2_1': '-7428.8', 'WCO2_2': '-22286.4', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-06-01 04:02:06.0'}, {'YEAR': '2025', 'MON': '03', 'MM_TYPE': '종교단체', 'CNT': '847', 'EUS': '7694939', 'EUS1': '7386614', 'EUS2': '6830204', 'ECO2_1': '586530', 'ECO2_2': '586530', 'GUS': '533203', 'GUS1': '479502', 'GUS2': '493913', 'GCO2_1': '46495.5', 'GCO2_2': '92991', 'WUS': '39709', 'WUS1': '41454', 'WUS2': '39082', 'WCO2_1': '-559', 'WCO2_2': '-1677', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-06-01 04:02:06.0'}, {'YEAR': '2025', 'MON': '03', 'MM_TYPE': '개인', 'CNT': '1263017', 'EUS': '261517383', 'EUS1': '265455748', 'EUS2': '257255870', 'ECO2_1': '161574', 'ECO2_2': '85710.48', 'GUS': '58342246', 'GUS1': '54969552', 'GUS2': '51814187', 'GCO2_1': '4953957', 'GCO2_2': '9907914', 'WUS': '13775615.2', 'WUS1': '14060089.3', 'WUS2': '14092941.2', 'WCO2_1': '-300900.05', 'WCO2_2': '-455244.534', 'HUS': '11813284.178', 'HUS1': '13500723.586', 'HUS2': '10457891.67', 'HCO2_1': '-166023.45', 'HCO2_2': '-565440.150085508', 'REG_DATE': '2025-06-01 04:02:06.0'}, {'YEAR': '2025', 'MON': '03', 'MM_TYPE': '학교', 'CNT': '6745', 'EUS': '141691270', 'EUS1': '135902628', 'EUS2': '127276191', 'ECO2_1': '10101860.5', 'ECO2_2': '10095173.716', 'GUS': '4376397', 'GUS1': '3943517', 'GUS2': '4035705', 'GCO2_1': '387532', 'GCO2_2': '775064', 'WUS': '1267061.4', 'WUS1': '1249702', 'WUS2': '1320726', 'WCO2_1': '-18152.6', 'WCO2_2': '-54353.748', 'HUS': '11395.151', 'HUS1': '12429.443', 'HUS2': '11712.863', 'HCO2_1': '-676.002', 'HCO2_2': '-1941.092154', 'REG_DATE': '2025-06-01 04:02:06.0'}, {'YEAR': '2025', 'MON': '02', 'MM_TYPE': '공공기관', 'CNT': '2458', 'EUS': '154395163', 'EUS1': '149949296', 'EUS2': '152990855', 'ECO2_1': '2925087.5', 'ECO2_2': '2925087.5', 'GUS': '5932930', 'GUS1': '5520470', 'GUS2': '5777003', 'GCO2_1': '284913', 'GCO2_2': '569826', 'WUS': '919586', 'WUS1': '882073.6', 'WUS2': '853765.4', 'WCO2_1': '51666.5', 'WCO2_2': '154999.5', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-05-01 04:02:19.0'}, {'YEAR': '2025', 'MON': '02', 'MM_TYPE': '개인', 'CNT': '1260975', 'EUS': '289958608', 'EUS1': '286834122', 'EUS2': '287382696', 'ECO2_1': '2850199', 'ECO2_2': '1678072.12', 'GUS': '71777198', 'GUS1': '65495555', 'GUS2': '70012745', 'GCO2_1': '4044480.5', 'GCO2_2': '8088961', 'WUS': '14095885.6', 'WUS1': '14454859.7', 'WUS2': '14610803.7', 'WCO2_1': '-436946.1', 'WCO2_2': '-755160.6', 'HUS': '24191201.182', 'HUS1': '18708281.14', 'HUS2': '19538177.055', 'HCO2_1': '5067972.0845', 'HCO2_2': '5993276.769773452', 'REG_DATE': '2025-05-01 04:02:19.0'}, {'YEAR': '2025', 'MON': '02', 'MM_TYPE': '학교', 'CNT': '6743', 'EUS': '162026648', 'EUS1': '150167604', 'EUS2': '156498830', 'ECO2_1': '8693431', 'ECO2_2': '8689163.416', 'GUS': '5058198', 'GUS1': '4850197', 'GUS2': '5204482', 'GCO2_1': '37734', 'GCO2_2': '75468', 'WUS': '1514159', 'WUS1': '1642481.8', 'WUS2': '1716495.6', 'WCO2_1': '-165329.7', 'WCO2_2': '-495631.588', 'HUS': '23522.992', 'HUS1': '18491.333', 'HUS2': '20026.809', 'HCO2_1': '4263.921', 'HCO2_2': '10140.66937', 'REG_DATE': '2025-05-01 04:02:19.0'}, {'YEAR': '2025', 'MON': '02', 'MM_TYPE': '종교단체', 'CNT': '848', 'EUS': '9534139', 'EUS1': '8710025', 'EUS2': '9010537', 'ECO2_1': '673858', 'ECO2_2': '673858', 'GUS': '623530', 'GUS1': '574565', 'GUS2': '643026', 'GCO2_1': '15934.5', 'GCO2_2': '31869', 'WUS': '43322', 'WUS1': '46153', 'WUS2': '44412', 'WCO2_1': '-1960.5', 'WCO2_2': '-5881.5', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-05-01 04:02:19.0'}, {'YEAR': '2025', 'MON': '02', 'MM_TYPE': '기업', 'CNT': '19465', 'EUS': '597107261', 'EUS1': '577410955', 'EUS2': '586006438', 'ECO2_1': '15398564.5', 'ECO2_2': '15398564.5', 'GUS': '57626278', 'GUS1': '63185461', 'GUS2': '55555430', 'GCO2_1': '-1742088', 'GCO2_2': '-3484176', 'WUS': '4223091.7', 'WUS1': '4388038.1', 'WUS2': '4318507.7', 'WCO2_1': '-130181.2', 'WCO2_2': '-390543.6', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-05-01 04:02:19.0'}, {'YEAR': '2025', 'MON': '02', 'MM_TYPE': '소상공인', 'CNT': '53068', 'EUS': '110858068', 'EUS1': '107221292', 'EUS2': '110965277', 'ECO2_1': '1764783.5', 'ECO2_2': '1762192.94', 'GUS': '3298750', 'GUS1': '3184726', 'GUS2': '3332810', 'GCO2_1': '42262', 'GCO2_2': '84524', 'WUS': '1504907.4', 'WUS1': '1555867.1', 'WUS2': '1538476.2', 'WCO2_1': '-42264.25', 'WCO2_2': '-126940.824', 'HUS': '3104.55', 'HUS1': '1898.68', 'HUS2': '2211.41', 'HCO2_1': '1049.505', 'HCO2_2': '402.479492', 'REG_DATE': '2025-05-01 04:02:19.0'}, {'YEAR': '2025', 'MON': '02', 'MM_TYPE': '공동주택관리소', 'CNT': '3718', 'EUS': '542372980', 'EUS1': '531574982', 'EUS2': '532815300', 'ECO2_1': '10177839', 'ECO2_2': '10177839', 'GUS': '13966098', 'GUS1': '13296407', 'GUS2': '13770916', 'GCO2_1': '432495', 'GCO2_2': '864990', 'WUS': '20193780.9', 'WUS1': '20240173.8', 'WUS2': '20507653.8', 'WCO2_1': '-180132.9', 'WCO2_2': '-540398.7', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-05-01 04:02:19.0'}, {'YEAR': '2025', 'MON': '01', 'MM_TYPE': '공공기관', 'CNT': '2458', 'EUS': '159137367', 'EUS1': '161224118', 'EUS2': '165177059', 'ECO2_1': '-4063221.5', 'ECO2_2': '-4063221.5', 'GUS': '5245062', 'GUS1': '6339106', 'GUS2': '6122197', 'GCO2_1': '-985669.5', 'GCO2_2': '-1971339', 'WUS': '1109496.9', 'WUS1': '1067063.3', 'WUS2': '1048332.2', 'WCO2_1': '51799.15', 'WCO2_2': '155397.45', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-04-01 04:02:46.0'}, {'YEAR': '2025', 'MON': '01', 'MM_TYPE': '소상공인', 'CNT': '53019', 'EUS': '111945712', 'EUS1': '114049923', 'EUS2': '120313258', 'ECO2_1': '-5235878.5', 'ECO2_2': '-5237135.908', 'GUS': '3102284', 'GUS1': '3279503', 'GUS2': '3594021', 'GCO2_1': '-332550.5', 'GCO2_2': '-665101', 'WUS': '1390522.2', 'WUS1': '1363196.9', 'WUS2': '1397802.9', 'WCO2_1': '10022.3', 'WCO2_2': '29960.18', 'HUS': '3087.55', 'HUS1': '2659.77', 'HUS2': '2832.88', 'HCO2_1': '341.225', 'HCO2_2': '-607.186672', 'REG_DATE': '2025-04-01 04:02:46.0'}, {'YEAR': '2025', 'MON': '01', 'MM_TYPE': '학교', 'CNT': '6742', 'EUS': '174125879', 'EUS1': '173813498', 'EUS2': '185119071', 'ECO2_1': '-5340405.5', 'ECO2_2': '-5343449.948', 'GUS': '5507366', 'GUS1': '5712886', 'GUS2': '6539420', 'GCO2_1': '-615130', 'GCO2_2': '-1230260', 'WUS': '1820916.8', 'WUS1': '1838629', 'WUS2': '1820578.6', 'WCO2_1': '-8687', 'WCO2_2': '-42295.78', 'HUS': '40951.684', 'HUS1': '27033.356', 'HUS2': '28244.802', 'HCO2_1': '13312.605', 'HCO2_2': '63242.726616', 'REG_DATE': '2025-04-01 04:02:46.0'}, {'YEAR': '2025', 'MON': '01', 'MM_TYPE': '종교단체', 'CNT': '849', 'EUS': '9663487', 'EUS1': '9820536', 'EUS2': '10044709', 'ECO2_1': '-269135.5', 'ECO2_2': '-269135.5', 'GUS': '538785', 'GUS1': '574357', 'GUS2': '665228', 'GCO2_1': '-80898', 'GCO2_2': '-161796', 'WUS': '45011', 'WUS1': '44737', 'WUS2': '44089', 'WCO2_1': '598', 'WCO2_2': '1794', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-04-01 04:02:46.0'}, {'YEAR': '2025', 'MON': '01', 'MM_TYPE': '공동주택관리소', 'CNT': '3717', 'EUS': '549306970', 'EUS1': '553171963', 'EUS2': '562732975', 'ECO2_1': '-8645499', 'ECO2_2': '-8645499', 'GUS': '12897492', 'GUS1': '13018588', 'GUS2': '14635031', 'GCO2_1': '-929317.5', 'GCO2_2': '-1858635', 'WUS': '19747538.2', 'WUS1': '19813169.6', 'WUS2': '19835823.1', 'WCO2_1': '-76958.15', 'WCO2_2': '-230874.45', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-04-01 04:02:46.0'}, {'YEAR': '2025', 'MON': '01', 'MM_TYPE': '기업', 'CNT': '19458', 'EUS': '624104890', 'EUS1': '643139445', 'EUS2': '659

## 데이터 프레임 생성

In [53]:
import pandas as pd

## requests로부터 response, body, item 항목 읽기 (수업)
#energyUseDataSummaryInfo안에 row안에 데이터 읽기(내가한거)
print(type(data))
data = response.json()['energyUseDataSummaryInfo']['row']
print(len(data))
print(data[0])

df = pd.DataFrame(data) #데이터를 프레임화 시키기
df #표 형식으로 출력
df['HUS'] #특정컬럼값 출력

<class 'list'>
100
{'YEAR': '2025', 'MON': '06', 'MM_TYPE': '개인', 'CNT': '1269454', 'EUS': '278745288', 'EUS1': '275851011', 'EUS2': '273151435', 'ECO2_1': '4244065', 'ECO2_2': '2076623.656', 'GUS': '13084768', 'GUS1': '11889039', 'GUS2': '12094650', 'GCO2_1': '1091102', 'GCO2_2': '2182204', 'WUS': '14927683.6', 'WUS1': '15166284.8', 'WUS2': '15371662.2', 'WCO2_1': '-341289.9', 'WCO2_2': '-611822.446', 'HUS': '379182.22', 'HUS1': '368839.049', 'HUS2': '389847.167', 'HCO2_1': '-160.888', 'HCO2_2': '-22448.67848156', 'REG_DATE': '2025-09-01 04:02:15.0'}

0       379182.22
1            8.03
2               0
3               0
4               2
         ...
95             25
96              0
97              0
98    3099650.225
99            244
Name: HUS, Length: 100, dtype: object

## 다양항 형식으로 데이터 저장

In [56]:
## CSV 형식 데이터 저장
df.to_csv('air_pollution.csv', index=False, encoding='utf-8')

## JSON 형식 데이터 저장
df.to_json('air_pollution.json', indent=4, force_ascii=False)

## EXCEL 형식 데이터 저장
df.to_excel('air_pollution.xlsx', index=False)

## HTML 형식 데이터 저장
df.to_html('air_pollution.html')